@mixin tag {
  border: 1px solid #c4c4c4;
  border-radius: 0.6875rem;
  padding: 0.1rem 0.5rem;
  color: $primary-1;
  font-weight: 500;
  transition: color 0.3s, background-color 0.3s;
  &:hover,
  &:focus {
    background: $primary-1;
    color: white;
  }
}

@mixin btn {
  width: 170px;
  height: 69px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.3125rem;
  background: $primary-1;
  color: white;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  &:hover,
  &:focus {
    background: $primary-2;
    color: black;
  }
}
