.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 86%;
  margin: 0 auto 0 auto;
  gap: 2rem;
  padding: 3rem 0;
  &__logo {
    height: 2.35rem;
    img {
      height: 100%;
    }
  }
  &__logo:focus img,
  &__logo:hover img {
    filter: drop-shadow(2px 2px 0px black);
  }

  &__hiddenlink {
    position: absolute;
    top: -1000px;
    left: 50%;
    background: $secondary-4;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3125rem;
    &:focus {
      top: 0.5rem;
    }
  }
}
.nav {
  @media (max-width: 1340px) {
    width: 100%;
  }
  &__tagsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 0.3125rem;
  }
  &__tag {
    // margin: 0 0.3125rem 0.3125rem 0;
    a {
      @include tag;
    }
  }
}
