@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preload {
  transition: none !important;
}
body {
  font-family: 'DM Sans', sans-serif;
}
.noScroll {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.error {
  text-align: center;
  color: $primary-1;
}
